/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* BODY */
body {
    background-color: rgb(243, 208, 247);
}


/* CONTAINER PRINCIPAL */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    width: 260px;
    min-width: 260px;
    background-color: #5c315e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


/* LOGO */

.logo {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #5e3451;
    margin-bottom: 20px;

}




/* =========================
   MENU
========================= */

.menu {
    width: 100%;
}

.menu-group {
    margin-bottom: 25px;
}

.menu-group h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(232, 145, 240);
    margin-bottom: 10px;
    padding-left: 10px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 5px;
}


/* LINKS */

.menu ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    transition: 0.3s;
    font-size: 14px;
}


/* HOVER */

.menu ul li a:hover {
    background-color: #34495e;
    color: #3498db;
}


/* =========================
   CONTEÚDO PRINCIPAL
========================= */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* HEADER */

.content-header {
    background-color: rgb(253, 226, 226);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-header h2 {
    color: #333;
    font-size: 20px;
}

.user-info {
    color: #666;
    font-weight: 500;
}


/* ÁREA DAS PÁGINAS */

.view-container {
    padding: 30px;
    flex: 1;
}


/* =========================
   FORMULÁRIOS
========================= */

input,
select,
textarea,
button {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


/* BOTÕES */

button {
    background-color: rgb(180, 85, 189);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(232, 145, 240);
}


/* TABELAS */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgb(252, 252, 252);
}

table th,
table td {
    border: 1px solid rgb(243, 208, 247);
    padding: 12px;
    text-align: left;
}

table th {
    background-color: rgb(255, 255, 255);
}


/* RESPONSIVIDADE */

@media (max-width: 768px) {

    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .content-header {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

}